html{
    scroll-behavior: smooth;
};
body {
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background-color: var(--bg-primary-color);
    margin: 0;
}

:root {
// absolute-white: #fff
// absolute-black: #000
// purple-60: #703bf7
// purple-65: #8254f8
// purple-70: #946cf9
// purple-75: #a685fa
// purple-90: #dbcefd
// purple-95: #ede7fe
// purple-97: #f4f0fe
// purple-99: #fbfaff
// white-90: #e4e4e7
// white-95: #f1f1f3
// white-97: #f7f7f8
// white-99: #fcfcfd
// grey-08: #141414
// grey-10: #1a1a1a
// grey-15: #262626
// grey-20: #333
// grey-30: #4d4d4d
// grey-40: #666
// grey-50: #808080
// grey-60: #999
    
    --font-family: "Urbanist", sans-serif;
    --second-family: "Inter", sans-serif;

    --absolute-white: #fff;
    --absolute-black: #000;

    --bg-primary-color: #141414;
    --bg-second-color: #1A1A1A;

    --text-second-color: #999;

    --btn-primary-color: #262626;
    --btn-second-color: #703bf7;
    --btn-third-color: #1A1A1A;


    --logo-color: #703bf7;

    --border-primary-color: #262626;
    --border-second-color: #703bf7;
    --border-third-color: #1A1A1A;
    
    --box-shadow-color: #191919;

    --rating-star-color: #FFE500;

    --icon-primary-color: #a685fa;
    --icon-second-color: #703bf7;
    --icon-third-color: #999;

    --input-text-color: #666;


    --purple-65: #8254f8;
    --purple-70: #946cf9;
    --purple-90: #dbcefd;
    --purple-95: #ede7fe;
    --purple-97: #f4f0fe;
    --purple-99: #fbfaff;
    --white-90: #e4e4e7;
    --white-95: #f1f1f3;
    --white-97: #f7f7f8;
    --white-99: #fcfcfd;

    --grey-20: #333;
    --grey-30: #4d4d4d;
    --grey-40: #666;
    --grey-50: #808080;
}

main {
    @media screen and (min-width: 390px) {
        min-width: 390px;
        margin: auto;
    }
    @media screen and (min-width: 1440px) {
        min-width: 1440px;
    
    }
    @media  screen and (min-width: 1920px) {
        min-width: 1920px;
        
    }
}

p {
    margin: 0;
}

a {
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}

address {
    text-decoration: none;
    font-style: normal;
}

li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}