body {
    font-family: Urbanist;
    font-size: 14px;
    background: #141414;
    
    
}

main {
    @media screen and (min-width: 390px) {
        min-width: 390px;
        margin: auto;
    }
    @media screen and (min-width: 1440px) {
        min-width: 1440px;
    
    }
    @media  screen and (max-width: 1920px) {
        max-width: 1920px;
        
    }
}

p {
    margin: 0;
}

a {
    list-style-type: none;
    text-decoration: none;
    font-style: normal;

}

address {
    text-decoration: none;
    font-style: normal;

}

li {
    text-decoration: none;
    list-style-type: none;
}

ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}