.clients {
    width: 1920px;
    margin: auto;
    background-color: #141414;
    padding-bottom: 150px;
}
.clients-container {
    width: 1596px;
    margin: auto;
}
.clients-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    margin-bottom: 14px;
}
.clients-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-list {
    margin: 80px 0 50px 0;
    display: flex;
    gap: 50px;
}
.clients-item {
    width: 773px;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #141414;
    box-shadow: 0px 0px 0px 8px #191919;
}
.clients-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients-title-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-title-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    margin-top: 6px;
}
.clients-item-btn {
    cursor: pointer;
    padding: 0;
    width: 148px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #1A1A1A;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.clients-item-description {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
}
.item-description-name {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 14px;
}
.item-description-text {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-categories {
    display: flex;
    margin: 40px 0;
}
.clients-categories-domain {
    width: 307px;
    padding-right: 30px;
    border-right: 1px solid #262626;    
}
.clients-categories-category {
    width: 307px;
    padding-left: 30px;
}
.categories-title {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
}
.categories-title-name {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.categories-title-text {
    color: #fff;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-pages {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #262626;
}
.clients-numbers {
    color: #999;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-numbers1 {
    color: #FFF;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.clients-buttons-container {
    display: flex;
    gap: 10px;
}
.clients-btn {
    cursor: pointer;
    width: 58px;
    height: 58px;
    padding: 14px;
    border-radius: 69px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.arrow-left {
    fill: rgba(128, 128, 128, 1);
}

.arrow-left:hover {
    fill: rgba(255, 255, 255, 1);
}

.arrow-left:focus {
    fill: rgba(255, 255, 255, 1);
}

.arrow-right {
    fill: rgba(128, 128, 128, 1);
}

.arrow-right:hover {
    fill: rgba(255, 255, 255, 1);
}

.arrow-right:focus {
    fill: rgba(255, 255, 255, 1);
}