.features {
    // width: 1920px;
    max-width: 390px;
    margin: auto;
    padding: 40px 16px;
    background: #141414;
    // padding: 150px 0;
}
.features-container {
    margin: auto;
}
.features-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.features-title-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
}
.features-title-text {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.features-title-btn {
    cursor: pointer;
    display: flex;
    padding: 14px 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #1A1A1A;
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.features-title-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.features-list {
    padding: 0;
    margin: 40px 0 30px 0;
    display: flex;    
}
.features-item {
    max-width: 358px;
    padding : 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #141414;
    transition: 3s;
}
.features-img {
    height: 210px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}
.features-name {
    color:#FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.features-link {
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;   
}
.item-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}
.list-item {
    display: flex;
    padding: 6px 14px;
    align-items: center;
    border-radius: 28px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.item-icon {
    fill: rgba(255, 255, 255, 1);
}
.item-name {
    margin-left: 4px;
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.features-text {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 2px;
    margin-bottom: 20px;
}
.features-price {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.features-etc {
    gap: 2px;
}
.etc-price {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.etc-text {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.etc-btn {
    cursor: pointer;
    min-width: 202px;
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #1A1A1A;
    border: 1px solid #262626;
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.etc-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.features-pages {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
    border-top: 1px solid #262626;
}
.pages-numbers {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.pages-numbers1 {
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.pages-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pages-btn {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 69px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.arrow-left {
    fill: rgba(128, 128, 128, 1);
}
.arrow-left:hover {
    fill: rgba(255, 255, 255, 1);
}

.arrow-left:focus {
    fill: rgba(255, 255, 255, 1);
}
.arrow-right {
    fill: rgba(128, 128, 128, 1);
}
.arrow-right:hover {
    fill: rgba(255, 255, 255, 1);
}
.arrow-right:focus {
    fill: rgba(255, 255, 255, 1);
}


.slider-container {  
    // overflow: hidden;
}
