.feedback {
    max-width: 390px;
    margin: auto;
    padding: 40px 16px;
    background-color: var(--bg-primary-color);  
    background-image:
            url(../images/frame1.svg),
            url(../images/frame2.svg),
            url(../images/frame3.svg);
        background-repeat: no-repeat;
        background-size:
            20px 20px,
            12px 12px,
            6px 6px;
        background-position:
            top 20px left 8px,
            top 25px left 32px,
            top 28px left 48px;
    @media screen and (min-width: 1440px) and (max-width: 1920px) {
        min-width: 1440px;
        padding: 60px 80px;
        background-image: 
            url(../images/frame1.svg),
            url(../images/frame2.svg),
            url(../images/frame3.svg);
        background-repeat: no-repeat;
        background-position:
            top 30px left 70px,
            top 35px left 99px,
            top 39px left 118px;
    }  
    @media screen and (min-width: 1920px) {
        min-width: 1920px;
        padding: 75px 162px;
        background-image: 
            url(../images/frame1.svg),
            url(../images/frame2.svg),
            url(../images/frame3.svg);
        background-size:
            30px 30px,
            18px 18px,
            8.4px 8.4px;
        background-repeat: no-repeat;
        background-position:
            top 30px left 142px,
            top 35px left 178px,
            top 39px left 202px; 
        }  
    &__container {
        margin: auto;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            gap: 150px;
        }
        @media screen and (min-width: 1920px) {
            gap: 200px;
        } 
    }
    &__title-name {
        color: var(--absolute-white);
        margin-bottom: 6px;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            margin-bottom: 10px;
            font-size: 38px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 48px;
            margin-bottom: 14px;
        } 
    }
    &__title-text {
        color: var(--text-second-color);
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 18px;
        }
    }
    &__title-btn1 {
        cursor: pointer;
        display: none;
        align-items: center;
        padding: 14px 20px;
        border-radius: 10px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-second-color);
        color: var(--absolute-white);
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            display: flex;
            justify-content: center;
            padding: 14px;
        }
        @media screen and (min-width: 1920px) {
            display: flex;
            justify-content: center;
            padding: 18px 24px;
        }
    }
    &__title-btn1:hover {
        background-color: var(--btn-second-color);
        border: 1px solid var(--border-second-color);}
    &__title-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 14px 20px;
        border-radius: 10px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-second-color);
        color: var(--absolute-white);
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            display: none;
        }
        @media screen and (min-width: 1920px) {
            display: none;
        }
    }
    &__title-btn:hover {
        background-color: var(--btn-second-color);
        border: 1px solid var(--border-second-color);
    }
    &__list {
        display: flex;
        overflow: hidden;
        padding: 0;
        margin: 40px 0 30px 0;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            margin: 60px 0 40px 0;
        }
        @media screen and (min-width: 1920px) {
            margin: 80px 0 50px 0;
        }
    }
    &__item {
        min-width: 358px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 24px;
        border-radius: 10px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-primary-color);
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            min-width: 413px;
            padding: 40px;
            gap: 30px;
        }    
        @media screen and (min-width: 1920px) {
            min-width: 512px;
            padding: 50px;        
        }
    }
    &__rate {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 8px;
        flex-direction: row-reverse;
        justify-content: start;
        @media screen and (min-width: 1920px) {
            gap: 10px;
        }
    }
    &__rate-item {
        padding: 10px;
        border-radius: 100px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-second-color);
        cursor: pointer;
    }
    &__icon-star {
        fill: var(--text-second-color);
        transition: 0.2s;
        @media screen and (min-width: 1920px) {
            width: 24px;
            height: 24px;
        }
    }
    &__rate-item:hover &__icon-star {
        fill: var(--rating-star-color);
    }
    &__rate-item:hover ~ &__rate-item .icon-star {
        fill: var(--rating-star-color);
    }
    &__rate[data-total-value="1"] &__rate-item:nth-child(n + 5) &__icon-star,
    &__rate[data-total-value="2"] &__rate-item:nth-child(n + 4) &__icon-star,
    &__rate[data-total-value="3"] &__rate-item:nth-child(n + 3) &__icon-star,
    &__rate[data-total-value="4"] &__rate-item:nth-child(n + 2) &__icon-star,
    &__rate[data-total-value="5"] &__rate-item:nth-child(n + 1) &__icon-star{
        fill: var(--rating-star-color);
    }
    &__text-container {
        height: 100%;
    }
    &__text {
        align-self: stretch;
        color: var(--absolute-white);
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;  
        @media screen and (min-width: 1920px) {
            font-size: 24px;
        }  
    }
    &__description {
        align-self: stretch;
        color: var(--absolute-white);
        line-height: 150%;
        margin-top: 6px;
        @media screen and (min-width: 1920px) {
            font-size: 18px;
        }  
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 10px;
        @media screen and (min-width: 1920px) {
            gap: 12px;
        }  
    }
    &__user-wadewarren {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-image: url(../images/wade_warren.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 1920px) {
            width: 60px;
            height: 60px;
        }  
    }
    &__user-emeliethomson {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-image: url(../images/emelie_thomson.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 1920px) {
            width: 60px;
            height: 60px;
        }  
    }
    &__user-johnmans {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-image: url(../images/john_mans.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: 1920px) {
            width: 60px;
            height: 60px;
        }  
    }
    &__user-info {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1920px) {
            gap: 2px;
        }  
    }
    &__user-name {
        color: var(--absolute-white);
        font-size: 16px;
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            font-size: 18px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
        }  
    }
    &__user-from {
        color: var(--text-second-color);
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            font-size: 16px;
        } 
        @media screen and (min-width: 1920px) {
            font-size: 18px;
        }  
    }
    &__pagination {
        display: flex;
        padding-top: 16px;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid var(--border-primary-color);
        @media screen and (min-width: 1920px) {
            padding-top: 20px;
        }  
    }
    &__pagination-numbers1 {
        color: var(--text-second-color);
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            display: none;
        }
        @media screen and (min-width: 1920px) {
            display: none;
        } 
    }
    &__pagination-numbers {
        display: none;
        color: var(--text-second-color);
        line-height: 150%;
        @media screen and (min-width: 1440px) and (max-width: 1920px) {
            display: block;
            font-size: 16px;         
        }
        @media screen and (min-width: 1920px) {
            display: block;
            font-size: 20px; 
        }
    }
    &__btns-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__button-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 44px;
        height: 44px;
        padding: 10px;
        border-radius: 69px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-second-color);   
        @media screen and (min-width: 1920px) {
            width: 58px;
            height: 58px;
        }     
    }
    &__button-next {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 44px;
        height: 44px;
        padding: 10px;
        border-radius: 69px;
        border: 1px solid var(--border-primary-color);
        background-color: var(--bg-second-color);
        @media screen and (min-width: 1920px) {
            width: 58px;
            height: 58px;
        }
    }
    &__arrow-left {
        fill: var(--grey-50);
        @media screen and (min-width: 1920px) {
            width: 30px;
            height: 30px;
        } 
    }
    &__button-prev:hover &__arrow-left {
        fill: var(--absolute-white);
    }
    &__arrow-right {
        fill: var(--grey-50);
        @media screen and (min-width: 1920px) {
            width: 30px;
            height: 30px;
        } 
    }
    &__button-next:hover &__arrow-right {
        fill: var(--absolute-white);
    }
    
}



