.feedback {
    // width: 1920px;
    max-width: 390px;
    margin: auto;
    padding: 40px 16px;
    background: #141414;
    // padding-bottom: 150px; 
}
.feedback-container {
    margin: auto;
}
.feedback-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.feedback-title-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 6px;
}
.feedback-title-text {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.feedback-title-btn {
    cursor: pointer;
    display: flex;
    padding: 14px 20px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #1A1A1A;
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-title-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.feedback-list {
    display: flex;
    padding: 0;
    margin: 40px 0 30px 0;   
}
.feedback-item {
    min-width: 358px;
    display: flex;
    // justify-content: space-between;
    padding: 30px;
    gap: 24px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #141414;
}
.feedback-rate {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.rate-item {
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.icon-star {
    fill: rgba(255, 229, 0, 1);
}
.feedback-text-container {
    height: 100%;
}
.feedback-text {
    align-self: stretch;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;    
}
.feedback-description {
    align-self: stretch;
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 6px;
}
.feedback-user {
    display: flex;
    align-items: center;
        gap: 10px;
        // margin-top: 40px;
}
.feedback-user-wadewarren {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(/images/wade_warren.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.feedback-user-emeliethomson {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(/images/emelie_thomson.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.feedback-user-johnmans {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(/images/john_mans.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.user-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 2px;
}
.user-from {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.feedback-pages {
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #262626;
}
.feedback-numbers {
    color: #999;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.feedback-numbers1 {
    color: #FFF;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.feedback-buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback-btn {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 69px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.arrow-left {
    fill: rgba(128, 128, 128, 1);
}
.arrow-left:hover {
    fill: rgba(255, 255, 255, 1);
}
.arrow-left:focus {
    fill: rgba(255, 255, 255, 1);
}
.arrow-right {
    fill: rgba(128, 128, 128, 1);
}
.arrow-right:hover {
    fill: rgba(255, 255, 255, 1);
}
.arrow-right:focus {
    fill: rgba(255, 255, 255, 1);
}