.question {
    width: 1920px;
    background: #141414;
    padding-bottom: 100px;
}
.question-container {
    width: 1596px;
    margin: auto;
}
.question-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.question-title-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 14px;
}
.question-title-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.question-title-btn {
    cursor: pointer;
    display: flex;
    padding: 18px 24px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #1A1A1A;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.question-title-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.question-list {
    display: flex;
    gap: 30px;
    margin: 80px 0 50px 0;
}
.question-item {
    width: 512px;
    display: flex;
    gap: 30px;
    padding: 50px;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #141414;
}
.question-text {
    align-self: stretch;
    color: #FFF;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    flex-grow: 2;
}
.question-description {
    align-self: stretch;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.question-item-btn {
    cursor: pointer;
    width: 134px;
    height: 60px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #1A1A1A;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 131%;
    letter-spacing: -0.108px;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.question-item-btn:hover {
    background: #703BF7;
    border: 1px solid #703BF7;
}
.question-pages {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #262626;
}
.question-numbers {
    color: #999;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.question-numbers1 {
    color: #FFF;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.question-buttons-container {
    display: flex;
    gap: 10px;
}
.question-btn {
    cursor: pointer;
    width: 58px;
    height: 58px;
    padding: 14px;
    border-radius: 69px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.arrow-left {
    fill: rgba(128, 128, 128, 1);
}

.arrow-left:hover {
    fill: rgba(255, 255, 255, 1);
}

.arrow-left:focus {
    fill: rgba(255, 255, 255, 1);
}

.arrow-right {
    fill: rgba(128, 128, 128, 1);
}

.arrow-right:hover {
    fill: rgba(255, 255, 255, 1);
}

.arrow-right:focus {
    fill: rgba(255, 255, 255, 1);
}