.subscribe {
    max-width: 1920px;    
    background-color: #141414;
}
.subscribe-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 20px;
    border: 1px solid #262626;
}
.subscribe-item {
    position: relative;
    display: flex;
    width: 455px;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.subscribe-icon-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 82px;
    height: 82px;
    border-radius: 100px;    
    background-image: linear-gradient(35deg, rgba(166, 133, 250, 1) 10%, rgba(112, 59, 247, 0) 40%, rgba(112, 59, 247, 0)60%, rgba(166, 133, 250, 1) 90%);
    padding: 1px;    
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #1A1A1A;
    }
.boxes1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    background-image: linear-gradient(135deg, rgba(166, 133, 250, 1) 10%, rgba(112, 59, 247, 0) 40%, rgba(112, 59, 247, 0)60%, rgba(166, 133, 250, 1) 90%);
    padding: 1px;
}
.subscribe-icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: #1A1A1A;
}
.subscribe-icons {
    fill: rgba(166, 133, 250, 1);
}
.subscribe-text {
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.subscribe-arrow-box {
    position: absolute;
    z-index: 100;
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
    top: 0;    
}