.subscribe {
    max-width: 390px; 
    padding: 0 16px 40px 16px;
    margin: auto;
    background-color: var(--bg-primary-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        min-width: 1440px;
        padding: 10px 0 60px 0;
    }
    @media screen and (min-width: 1920px) {
        min-width: 1920px;
        padding: 10px 0 75px 0;
    }
&__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 9px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 0px 6px var(--box-shadow-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        padding: 10px;
        flex-wrap: nowrap;
    }
    @media screen and (min-width: 1920px) {
        padding: 20px;
        gap: 20px;
    }
}
&__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    max-width: 164px;
    padding: 20px 14px;    
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-second-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        min-width: 347px;
        padding: 30px 16px;
        gap: 16px;
    }
    @media screen and (min-width: 1920px) {
        min-width: 455px;
        padding: 40px 20px;
        gap: 20px;
    }
}
&__icon-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 48px;
    height: 48px;
    border-radius: 100px;    
    background-image: linear-gradient(35deg, rgba(166, 133, 250, 1) 10%, rgba(112, 59, 247, 0) 40%, rgba(112, 59, 247, 0)60%, rgba(166, 133, 250, 1) 90%);
    padding: 1px;  
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        width: 60px;
        height: 60px;
    }
    @media screen and (min-width: 1920px) {
        width: 82px;
        height: 82px;        
    }
}
&__icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: var(--bg-second-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        width: 58px;
        height: 58px;
    }
    @media screen and (min-width: 1920px) {
        width: 80px;
        height: 80px;        
    }
}
&__icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-image: linear-gradient(135deg, 
    rgba(166, 133, 250, 1) 10%, 
    rgba(112, 59, 247, 0) 40%, 
    rgba(112, 59, 247, 0)60%, 
    rgba(166, 133, 250, 1) 90%);
    padding: 1px;
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        width: 44px;
        height: 44px;
    }
    @media screen and (min-width: 1920px) {
        width: 62px;
        height: 62px;        
    }
}
&__icon-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    background-color: var(--bg-second-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        width: 42px;
        height: 42px;
    }
    @media screen and (min-width: 1920px) {
        width: 60px;
        height: 60px;        
    }
}
&__icons {
    fill: var(--icon-primary-color);
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        width: 24px;
        height: 24px;
    }
    @media screen and (min-width: 1920px) {
        width: 34px;
        height: 34px;        
    }
}
&__text {
    color: var(--absolute-white);
    text-align: center;    
    font-weight: 600;
    line-height: 150%;
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 20px;       
    }
}
&__arrow-box {
    position: absolute;
    z-index: 100;
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
    top: 0;     
}
&__arrow {
    fill: white;
    @media screen and (min-width: 1920px) {
        width: 34px;
        height: 34px;       
    }
}
}