.team {
    width: 1920px;
    margin: auto;
    background-color: #141414;
    padding-bottom: 150px;
}
.team-container {
    width: 1596px;
    margin: auto;
}
.team-name {
    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    margin-bottom: 14px;
}
.team-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.team-list {
    margin: 0;
    margin-top: 80px;
    gap: 30px;
    display: flex;
    justify-content: center;
}
.team-item {
    width: 367px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
}
.team-item-photo {
    border-radius: 12px;
    height: 253px;
}
.team-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.team-item-name {
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 50px;
}
.team-item-job {
    color: #999;
    text-align: center;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 6px;
}

.team-item-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 14px 14px 24px;
    border-radius: 100px;
    border: 1px solid #262626;
    background: #1A1A1A;
}
.message-text {
    color:  #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.message-btn {  
    cursor: pointer;
    width: 44px;
    height: 44px; 
    border-radius: 100px;
    background: #703BF7;
    padding: 10px;
}
.message-icon {
    fill: rgba(255, 255, 255, 1);
}