.values {
    width: 1920px;
    margin: auto;
    background-color: #141414;
    padding-bottom: 150px;
}
.values-container {
    width: 1596px;
    margin: auto;
    gap: 80px;
    display: flex;
}
.values-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    width: 517px;
}
.values-title-name {
    margin: 0;
    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%
}
.values-title-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.values-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 999px;
    margin: 0;
    padding: 60px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #141414;
    box-shadow: 0px 0px 0px 10px #191919;
}
.values-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 410px;
    // padding-right: 30px;
    // padding-left: 30px;
}
.values-item:nth-child(2n+1) {
    padding-right: 30px;
    border-right: 1px solid #262626;
}
.values-item:nth-child(2n) {
    padding-left: 30px;
}
.values-item:nth-child(-n+2) {
    padding-bottom: 30px;
    border-bottom: 1px solid #262626;
}
.values-item:nth-child(n+3) {
    padding-top: 30px;
}
.values-item-container {
    display: flex;
    gap: 14px;
    align-items: center;
}
.values-icon-container {
    width: 74px;
    height: 74px;
    border-radius: 52px;
    border: 1px solid #703BF7;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.values-icon {
    fill: #703BF7;
}
.values-icon-text {
    color: #FFF;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.values-text {
    color: #999;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}